{% extends "layout.html" %}

{% block title %}
    Inbox
{% endblock %}

{% block main %}

<h1>Inbox</h1>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Message</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in recmsg %}
                    <tr>
                        <td>    {{ entry.Friend_ID }}    </td>
                        <td>    {{ entry.Friend_Name }}    </td>
                        <td>    {{ entry.message }}    </td>
                        <td>    {{ entry.Date }}    </td>
                        <td>    {{ entry.Time }}    </td>
                    </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
