{% extends "layout.html" %}

{% block title %}
    searched
{% endblock %}

{% block main %}
    <h1>Search Results</h1>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for entry in searchid %}
                <td>    {{ entry.User_ID }}    </td>
                <td>    {{ entry.Username }}    </td>
                {% set isfriend = {'value' : False} %}
                {% for list in friend %}
                    {% if entry.Username in list.Username %}
                        {% if isfriend.update({'value' : a}) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if isfriend['value'] %}
                    <td style="color:green;">Already Friends</td>
                {% else %}
                    <td><form action = "/friend" method = "POST"><input type="hidden" name="currentid" value = "{{ entry.User_ID }}"><button type="submit">Add Friend</button></input></form></td>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
